@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@400&display=swap");

:root {
  --bg-color: #0563af;
  --header-color: #46b3e6;
  --font-color: #fff;
  --shadow-color: #000;
  --primary-color: #19203f;
}

.dark {
  --bg-color: #0e151c;
  --header-color: #15202b;
  --font-color: #46b3e6;
  --shadow-color: #f45f12;
  --primary-color: #19203f;
}

* {
  box-sizing: border-box;
  font-family: "Cairo", sans-serif;
}

body {
  background-color: var(--bg-color);
  position: relative;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  background-color: var(--header-color);
  width: 100%;
  padding: 20px 20px;
  font-size: 30px;
  font-weight: bolder;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  color: var(--font-color);
}

.header div {
  flex: 1 0 auto;
}

.inner-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.main-header {
  font-size: 80px;
  color: var(--font-color);
  font-weight: bold;
}

.game {
  width: 60%;
  margin: auto;
  text-align: center;
  height: 500px;
  -webkit-box-shadow: -3px -12px 15px 7px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -3px -12px 15px 7px rgba(0, 0, 0, 0.75);
  box-shadow: -3px -12px 15px 7px rgba(0, 0, 0, 0.75);
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  margin-bottom: -30px;
}

#current-word {
  font-weight: bold;
  font-size: 60px;
  color: var(--font-color);
}

#typing-area {
  font-size: 35px;
  font-weight: bold;
  text-align: center;
  width: 60%;
  border-radius: 5px;
  border: 0px solid;
}

#typing-area:focus {
  outline: 0;
}

#typing-div {
  padding-top: 10px;
}

.current-levels {
  background-color: var(--bg-color);
  color: var(--font-color);
  padding: 12px;
  width: 60%;
  border: none;
  font-size: 20px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
  -webkit-appearance: button;
  appearance: button;
  outline: none;
  border-radius: 10px;
  text-align: center;
}

.box:hover::before {
  color: rgba(255, 255, 255, 0.6);
  background-color: rgba(255, 255, 255, 0.2);
}

.holder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 60%;
  margin: 0 auto;
  text-align: center;
  height: min-content;
  -webkit-box-shadow: -3px 28px 15px 7px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -3px 28px 15px 7px rgba(0, 0, 0, 0.75);
  box-shadow: -3px 28px 15px 7px rgba(0, 0, 0, 0.75);
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  padding-top: 30px;
}

.inner-holder {
  display: flex;
  width: 85%;
  padding: 10px 15px;
  flex-wrap: wrap;
}

.inner-holder-1 {
  display: flex;
  width: 100%;
  padding: 10px 1px;
  justify-content: space-between;
  align-items: center;
}

.inner-holder-1 span.title-pass {
  padding: 10px 20px;
  background-color: green;
  color: var(--font-color);
  font-size: 20px;
  width: 100px;
  border-radius: 10px;
  margin-left: 10px;
}

.inner-holder-1 span.title-failed {
  padding: 10px 20px;
  background-color: red;
  color: var(--font-color);
  font-size: 20px;
  width: 100px;
  border-radius: 10px;
  margin-left: 10px;
}

.passed-word {
  padding: 0 10px;
  color: var(--font-color);
  font-size: 18px;
  border-right: 1px dotted #000;
}

.failed-word {
  padding: 0 10px;
  color: var(--font-color);
  font-size: 18px;
  border-right: 1px dotted #000;
}

.overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px 50px;
}

.overlay h1 {
  font-size: 50px;
  color: var(--font-color);
}

.overlay p {
  font-size: 30px;
  color: var(--font-color);
  font-weight: 400;
}

.startgame {
  font-size: 55px;
  padding: 15px 25px;
  border-radius: 15px;
  outline: none;
  cursor: pointer;
  color: var(--font-color);
  background-color: #004882;
  font-weight: bold;
  margin-left: 10px;
}

.startgame:hover {
  background-color: #0563af;
}

.restartgame {
  font-size: 55px;
  padding: 15px 25px;
  border-radius: 15px;
  outline: none;
  cursor: pointer;
  color: var(--font-color);
  background-color: #004882;
  font-weight: bold;
  margin-left: 10px;
}

.restartgame:hover {
  background-color: #0563af;
}

.row {
  display: flex;
}

#countdown {
  display: flex;
  font-size: 180px;
  color: var(--font-color);
  font-weight: bold;
}

.boxen select {
  height: 100%;
  background-color: #004882;
  color: var(--font-color);
  padding: 12px;
  width: 100%;
  border: none;
  font-size: 20px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
  -webkit-appearance: button;
  appearance: button;
  outline: none;
  border-radius: 10px;
}

.boxen:hover::before {
  color: rgba(255, 255, 255, 0.6);
  background-color: rgba(255, 255, 255, 0.2);
}

.boxen select option {
  padding: 30px;
}

.restart-overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px 50px;
}

.restart-overlay h1 {
  font-size: 55px;
  font-weight: bold;
  color: var(--font-color);
}

.hide {
  display: none;
}

.show {
  display: flex;
}

@media all and (max-width: 1220px) {
  .header {
    padding: 20px 20px;
    font-size: 20px;
    font-weight: bolder;
  }

  .main-header {
    font-size: 50px;
  }

  .current-levels {
    padding: 1px;
    width: 60%;
    font-size: 17px;
  }
}

@media all and (max-width: 1030px) {
  .header {
    flex-wrap: wrap;
  }
  .inner-header {
    width: 40%;
  }
}

@media all and (max-width: 735px) {
  .header {
    flex-wrap: wrap;
  }
  .inner-header {
    width: 40%;
  }

  .main-header {
    font-size: 40px;
  }
}
