@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@400&display=swap");

.theme-switch-wrapper {
  display: flex;

  align-items: center;
  position: absolute;
  top: 25px;
  right: 25px;
}
.theme-switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}

.theme-switch input {
  display: none;
}

.theme-switch-wrapper span {
  color: #fff;
  font-weight: bold;
  font-family: "Cairo", sans-serif;
  margin-right: 25px;
}

.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.4s;
  width: 60px;
}

.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: 0.4s;
  width: 26px;
}

input:checked + .slider {
  background-color: #66bb6a;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
